@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    color: #666666;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Jost' , sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    min-width: 100vh;
}

.auction-card{
    width: 90vh;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1{
    color: #333;
    text-align: center;
}

.auction-details{
    margin-top: 20px;
}

.auction-details p{
    margin: 10px 0;
    color: #666;
}

.auction-details p span{
    font-weight: bold;
}

.bid-col {
    padding-bottom: 25px;
    width: 90vh;
}

.bid-history h1,
.similar-items h1 {
    color: white;
}

.card-body span{
    font-weight: bold;
}

.auction-link {
    color: #666666;
}

.new-bid-btn {
    margin-bottom: 15px;
}

#new-bid-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cancelOrSubmit {
    display: flex;
}

.bid-form-btn {
    margin: 5px;
}